@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after { clear: both; }

/* ---------- COLOR-PALETTE ---------- */

.color-container {
	margin: 21px 0;
	flex-shrink: 0;
	width: 100%;
}

.color-container:first-child { margin-top: 0; }
.color-container:last-child { margin-bottom: 0; }

.color-container h3 {
	color: #9aa1a7;
	font-size: 14px;
	margin-bottom: 8px;
}

.color-container .color:first-of-type {
	border-radius: 3px 0 0 3px;
}

.color-container .color:last-of-type {
	border-radius: 0 3px 3px 0;
}

.width10 .color { width: 10%; }
.width6 .color { width: 16.67%; }
.width5 .color { width: 20%; }
.width4 .color { width: 25%; }
.width3 .color { width: 33.3%; }
.width2 .color { width: 50%; }
.width1 .color { width: 100%; }

.color {
	display: block;
	float: left;
	height: 325px;
}

/* STRAWBERRY */
.c73102a { background: #73102a; }
.ca6386b { background: #a6386b; }
.c3b574b { background: #3b574b; }
.c15bf5f { background: #15bf5f; }
.c62bf54 { background: #62bf54; }

/* ORANGE */
.ce8b830 { background: #e8b830; }
.ce48831 { background: #e48831; }
.cd84c35 { background: #d84c35; }
.c9e3c2f { background: #9e3c2f; }

/* WINTER */
.c020c17 { background: #020c17; }
.c021325 { background: #021325; }
.c00353d { background: #00353d; }
.c006063 { background: #006063; }
.c018687 { background: #018687; }

/* RETRO */
.cadcd37 { background: #adcd37; }
.cfa5735 { background: #fa5735; }
.c37ac72 { background: #37ac72; }

@media only screen and (min-width: 600px) {
  /* For tablets: */
.color {
	display: block;
	float: left;
	height: 363px;
}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
.color {
	display: block;
	float: left;
	height: 177.11px;
}
}